
# Ranking Courrieros

Importando a base de dados

In [97]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [98]:
pd.read_excel('Biker Tasks.xls',sep=',').head()

,Código Pedido,Número Externo,Data do evento,Status,Biker,Registrado por
0,3018243482211537,P20180831T18,03/09/2018,Entregue,Petronio,petronio
1,4018243436281229,V516111MSD-01,31/08/2018,Entregue,Leonardo José de Oliveira,leonardoj
2,4018243377357597,20641,01/09/2018,Entregue,Caio Ferreira Santos,rogeriob
3,4018243507140908,GSL1138752,01/09/2018,Entregue,tomy,rogeriov
4,4018243636408427,GSL1138679,31/08/2018,Entregue,Cleber Gonzaga,cleber

In [99]:
dados=pd.read_excel('Biker Tasks.xls',sep=',')

In [100]:
dados.Biker = dados.Biker.astype('category')

In [101]:
i=0
nout=[]
codp=[]
codr=[]
while i<dados.Biker.count():
    a=dados['Data do evento'][i].split('/')
    b=dados['Código Pedido'][i]
    if b in codp:
        codr.append(i)
    else:
        codp.append(b)
    if a[1]!='08':
        nout.append(i)
    i=i+1

In [102]:
len(codr)

551

In [103]:
newdados=dados.drop(nout)

In [104]:
newdados.Biker.describe()

count                6779
unique                 77
top       Andrey Monteiro
freq                 1592
Name: Biker, dtype: object

Coletando os biker que entregaram

In [105]:
dados2=newdados[(newdados.Status=='Entregue')]

In [106]:
ent=newdados.Biker.value_counts().sort_index()

In [107]:
dados2.Biker = dados2.Biker.astype('category')

C:\Users\carlo\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [108]:
dados2.Biker.value_counts().sort_index().head()

Alex Sandro Ribeiro dos Santos    67
Alexandre Arnaldo Aguiar          39
Anderson Ferreira                 92
Anderson da Silva V                2
Andre Biselli                     12
Name: Biker, dtype: int64

In [109]:
ent.head()

Alex Sandro Ribeiro dos Santos     69
Alexandre Arnaldo Aguiar           40
Anderson Ferreira                 100
Anderson da Silva V                 2
Andre Biselli                      48
Name: Biker, dtype: int64

In [110]:
dados2.Biker.value_counts().sort_index().sum()/ent.sum()

0.9131140286177902

In [111]:
ent.sum()

6779

In [112]:
print(ent)

Alex Sandro Ribeiro dos Santos          69
Alexandre Arnaldo Aguiar                40
Anderson Ferreira                      100
Anderson da Silva V                      2
Andre Biselli                           48
Andre Felipe                            44
Andrey Monteiro                       1592
B1                                       6
B2                                      37
Baltazar Gomes Ruiz Junior             209
Biker 01                                15
BikerRESERVA                            21
Bruno Castro                             1
Bruno Strano                            91
Caio Ferreira Santos                    58
Caio Vinicius Pereira                    4
Carlos Pingo                             3
Claudio Alves Pinheiro                  17
Clayton Leoncio dos Santos             144
Cleber Gonzaga                          99
Daniel Hisatugu                         89
Daniel Zacharias                        51
Danilo Mendes TI                         1
David Felipe de Sousa                   43
Diego Bortot                            26
Diego Moreira                            7
Diego Pereira da Silva de Jesus         68
Douglas Santos                          98
Edigar Alcantara                         4
Edson Brito de Almeida                  54
                                      ...
Luiz Carlos                             99
Luiz Paulo                              48
Matheus Messora                         15
Michel Santos da Silva                 249
Mário Ramos de Oliveira                 45
Natan Marques Corner                   174
Pedro Lucas de Oliveira                 13
Pedro Sabino                            27
Petronio                               340
Rafael Massucci                          5
Rafael Rodrigo                          14
Rafael Rodrigues dos Santos              0
Raphael Brabo                          166
Raul                                   271
Rebecca                                  4
Reinaldo Nascimento Firmino Junior      53
Renato Grossi                           32
Ricardo Fernandes                        8
Rodrigo dos Santos Calazans             14
Rogerio Dias                           275
Sergio Gabriel Real                     56
Thiago Fernandes  Pereira               18
Victor Castello Branco                  52
Wefferson Gabriel                       30
William Simões                          53
Yan Martins                             68
jacqueline                              55
julio                                   58
manoel                                 155
tomy                                   126
Name: Biker, Length: 80, dtype: int64